.parallax {
  position: relative;
  overflow: hidden;
  padding: 1rem 0;
}

.scroller {
  display: flex;
  white-space: nowrap;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -0.02em;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.2;
}

.scroller span {
  flex-shrink: 0;
}

@media (min-width: 480px) {
  .scroller {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .scroller {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
} 